*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    background-color: #2d6863;
    padding: 10px;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    color: white;

}
nav{
    float:left;
}
nav ul li{
    float:left;
    list-style: none;
    padding: 10px;
    display: flex;
    align-items: right;
    justify-content: right;
}

h1{
    text-align: center;
}
h2{
    align-items: left;
    justify-content: left;
    float: left;
}
a{
    text-decoration: none;
    color: white;
    align-items: right;
    margin: 10px;
}
main{
    margin: 0;
    text-align: left;
    padding: 100px;

}
.n{
    border: 0;
}
.e{
    border: 0;
}
.c{
    border: 0;
}
.card{
    margin: 10px;
    border: solid 1px black;
    color:rgb(255, 255, 255)
}
.footer p{
    text-align: center;
    color:white;
    padding: 15px;
    background-color: black ;
}
.inputcontainer{
    margin: 20px;
    border:0;
}
.btn-register{
    align-items: center;
    background-color: black;
    color:white;
    width: 150px;
    height: 40px;
    margin: 20px;
}
#contenedorusuarios{
    display: flex;
    flex-wrap: wrap;
}
.card{
    padding: 10px;
    width: 200px;
    height: 150px;
    background-color: #2d6863;
    justify-content: left;
    border-radius: 10%;
     display: flex;
    flex-wrap: wrap;
}
.info{
    align-items: center;
}